*~
nbproject/*~
/nbproject/configs/*.properties
opengrok-web-nbproject/nbproject/*~
opengrok-web-nbproject/nbproject/build-impl.xml~
tags
TAGS
build
dist
coverage
target
opengrok.jar
source.war
prj.el
nbproject/private
generatedsrc
lib/JFlex.jar
lib/jflex-*
lib/findbugs
findbugs
manifest.mf
checkstyle/checkstyle_errors.txt
checkstyle/checkstyle_errors.xml
pmd/pmd_report.html
pmd/pmd_report.xml
pmd/cpd_report.txt
pmd/cpd_report.xml
jdepend/report.txt
jdepend/report.xml
lib/derby.jar
lib/jrcs.jar
lib/lucene-*
lib/servlet-api-*
derby.log
opengrok*.log
nbproject/genfiles.properties
glassfish
webrev
opengrok-web-nbproject/nbproject/private/
opengrok-web-nbproject/nbproject/genfiles.properties
run_my.bat
*.xml~
opengrok-web-nbproject/nbproject/build-impl.xml~
build.bat
jacoco
jacoco.exec
cov-int.zip
cov-int/*
egrok/bin
pmd.bat
*.iml
.idea
