*~
*.swp
/nbproject/configs/*.properties
tags
TAGS
!opengrok-web/src/main/webapp/WEB-INF/tags
build
dist
coverage
target
opengrok.jar
source.war
prj.el
nbproject/private
plugins/LdapPlugin/nbproject/private/
plugins/UserPlugin/nbproject/private/
generatedsrc
lib/JFlex.jar
lib/jflex-*
lib/findbugs
findbugs
manifest.mf
checkstyle/checkstyle_errors.txt
checkstyle/checkstyle_errors.xml
pmd/pmd_report.html
pmd/pmd_report.xml
pmd/cpd_report.txt
pmd/cpd_report.xml
jdepend/report.txt
jdepend/report.xml
lib/derby.jar
lib/jrcs.jar
lib/lucene-*
lib/javax.servlet-api-*
lib/bcel-*
lib/junit-*
lib/hamcrest-core-*
derby.log
opengrok*.log
nbproject/genfiles.properties
glassfish
opengrok-web-nbproject/nbproject/private/
opengrok-web-nbproject/nbproject/genfiles.properties
run_my.bat
build.bat
jacoco
jacoco.exec
cov-int.zip
cov-int/*
pmd.bat
*.iml
.idea
*.pyc
.wercker
.DS_Store
.project
.settings/
.vscode/
*/bin/
.classpath
.checkstyle
.tox
opengrok-indexer/index/dirty
