language: java
cache:
  directories:
  - $HOME/.m2
matrix:
  include:
    - os: linux
      dist: trusty
      sudo: required
      jdk: oraclejdk8
    - os: osx
      osx_image: xcode7.3
before_install:
 - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get update -qq; fi
 - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install -qq exuberant-ctags cvs git mercurial cssc bzr subversion monotone rcs pep8; fi
 - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo ./scripts/install-bitkeeper.sh; fi
 - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; fi
 - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install ctags cvs monotone; fi
 - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then pip install pep8; fi
install: true

before_script:
 - if `which bk`; then bk --version; fi
 - if `which hg`; then hg --version; fi
 - if `which git`; then git --version; fi
 - if `which svn`; then svn --version; fi
 - if `which cvs`; then cvs --version; fi
 - if `which mtn`; then mtn --version; fi
 - if `which bzr`; then bzr version; fi

env:
  global:
   # The next declaration is the encrypted COVERITY_SCAN_TOKEN, created
   #   via the "travis encrypt" command using the project repo's public key
   - secure: "O_cda5pWDBAP-O3_0nG5RQ"

#
# If compilation fails, we do not want to run the tests. Travis runs everything
# in 'script' no matter if an individual command fails or not. This kludgy
# looking shell incantation takes care of that.
#
script: "mvn -DskipTests=true -Dmaven.javadoc.skip=false -B -V compile \
             && mvn verify -B"

addons:
  coverity_scan:
    project:
      name: "OpenGrok/OpenGrok"
      description: "Build submitted via Travis CI"
      branch_pattern: "coverity_scan"
      #    build_command_prepend: "mvn clean"
      build_command: "mvn -DskipTests=true -Dmaven.javadoc.skip=false -B -V compile"

deploy:
  # Pre-release
  - provider: releases
    script:
    - echo "$TRAVIS_TAG"
    - echo "$TRAVIS_BRANCH"
    - mvn -DskipTests=true -Dmaven.javadoc.skip=false -B -V package
    prerelease: true
    api_key:
      secure: bCywC9GdBIzLvLG3cgM9SgOAdMRQchmqEyKQZtIfK4iNzH3GjZwLMH91Oha0X3XU/n+nxGKw2E9qpYRzWlcbxHXqIgjFTt+hkt7zAldjjyWJnOcAYqdUDfsH3NqNQBqMBg8q7Bjc0LVS6PfpTpZliZISrL6KSyDprRg7C0S+HAk=
    file: distribution/target/opengrok-$TRAVIS_TAG.tar.gz
    skip_cleanup: true
    on:
      repo: oracle/opengrok
      tags: true
      condition: "$TRAVIS_TAG =~ rc[0-9]+$"
      branch: master
  # Full release
  - provider: releases
    script:
    - echo "$TRAVIS_TAG"
    - echo "$TRAVIS_BRANCH"
    - mvn -DskipTests=true -Dmaven.javadoc.skip=false -B -V package
    api_key:
      secure: bCywC9GdBIzLvLG3cgM9SgOAdMRQchmqEyKQZtIfK4iNzH3GjZwLMH91Oha0X3XU/n+nxGKw2E9qpYRzWlcbxHXqIgjFTt+hkt7zAldjjyWJnOcAYqdUDfsH3NqNQBqMBg8q7Bjc0LVS6PfpTpZliZISrL6KSyDprRg7C0S+HAk=
    file: distribution/target/opengrok-$TRAVIS_TAG.tar.gz
    skip_cleanup: true
    on:
      repo: oracle/opengrok
      tags: true
      condition: "! $TRAVIS_TAG =~ rc[0-9]+$"
      branch: master
