body {
	background: none;
	color: black;
	font-family: arial, sans-serif;
/*	padding: 1em;
	margin: 0em;*/
}
#page {
	background: none;
	border: none;
	/*margin:0;*/
}

#Masthead {
	background: none;
	display:block;
	border: none;
	color:#000;
	border-bottom: 1px solid #000;
/*	padding-bottom:3px;
	margin-bottom: 3px; */
}
#Masthead a{
	color:#000;
}
#Masthead tt {
	color:#000;
}
#header {
	background:none;
	min-height:40px;
	height:40px;
}

#content {
  position:absolute;
  bottom:0px;
  left:0px;
  right:0px;
  padding-left: 1em;  
  padding-top:6px;
  overflow:auto;
  top:6em;
  }

#whole_header {
  height:6em;
  padding-left: 1em;  
  position:absolute;
  top:0;
  right:0px;
  left:0px;
  /*width:98%;*/
  overflow:auto;
  }

#MastheadLogo h1 {
	display:inline;
	font-size:medium;
}

#MastheadLogo {
	background-color: white;
	background-image: none;
	float: left;
	height: 48px;
	width: 270px;
	border: none;
	text-decoration: none;
}

#pagetitle {
	float: right;
	font-size: medium;
	text-align:right;
	color:#000;
}

#filename {
	font-size: large;
	text-align:right;
	color:#000;
	border: none;
}

#bar {
	padding-left: 0.5em;
	margin-bottom:1em;
	display: none;
}

input.q {
	color: #000;
	border: 1px solid #000;
	font-weight: normal;
	padding:2px;
}

input.submit {
	background-color: #ccc;
	color: #000;
	border: 1px solid #000;
	padding: 0px;
	font-weight: bold;
	min-width:4em;
	text-align:center;
}

input.submit:hover, input.submit:active {
	background-color: #ddd;
	color: #000;
	border: 1px solid #000;
	padding: 0px;
	font-weight: bold;
	min-width:4em;
	text-align:center;
}

.thead {
	background-image:none;
	color:#000;
	background-color:#ddd;
	border-bottom:1px solid #000;
	font-weight:bold;
}

.alt {
	background:none;
}

a:link			{color:#000;text-decoration:none;}
a:visited		{color:#000;text-decoration:none;}
a:active, a:hover	{color:#000;text-decoration:underline;}
img {border:0;}

tt {margin:0;}


form, pre {padding:0px;margin:0px;}
#src {font-size:75%;}
#src .l  {color:#000;border-right: 1px solid #000;background-color:#fff;margin-right:.5em;padding-right:.5em;text-decoration:none;}
#src .hl {color:#000;border-right: 1px solid #000;background-color:#fff;margin-right:.5em;padding-right:.5em;text-decoration:none;font-weight:bold;}
#src .l-hide  {display: none}
#src .hl-hide {display: none}
#src tt{padding-left:1em; padding-right:1em;}
.sl {color:#999;text-decoration:underline;}
td.a{color:#000}
.n  {color:#000;}
.s  {color:#000;}
.c  {color:#000; font-style:italic;}

a.s {color:#000;}  /* matched lines */
a.f {color:#000;}
div.a{color:#000}

a.d {color:#000; font-weight:bold; text-decoration:none;} /* definitions */

a.xm {color:#c66; font-weight:bold; text-decoration:none;} /* macro */

a.xa {color:#60c; font-weight:bold; text-decoration:none;} /* argument */
a.xl {color:#963; font-weight:bold; text-decoration:none;} /* local */
a.xv {color:#c30; font-weight:bold; text-decoration:none;} /* variable */

a.xc {color:#909; font-weight:bold; font-style:italic; text-decoration:none;} /* class */
a.xi {color:#909; font-weight:bold; font-style:italic; text-decoration:none;} /* interface */
a.xn {color:#909; font-weight:bold; font-style:italic; text-decoration:none;} /* namespace */

a.xe {color:#909; font-weight:bold; font-style:italic; text-decoration:none;} /* enum */
a.xer {color:#909; font-weight:bold; font-style:italic; text-decoration:none;} /* enumerator */
a.xs {color:#909; font-weight:bold; font-style:italic; text-decoration:none;} /* struct */
a.xt {color:#909; font-weight:bold; font-style:italic; text-decoration:none;} /* typedef */
a.xts {color:#909; font-weight:bold; font-style:italic; text-decoration:none;} /* typedefs */
a.xu {color:#909; font-weight:bold; font-style:italic; text-decoration:none;} /* union */

a.xfld {color:#090; font-weight:bold; text-decoration:none;} /* field */
a.xmb {color:#090; font-weight:bold; text-decoration:none;} /* member */

a.xf {color:#00f; font-weight:bold; text-decoration:none;} /* function */
a.xmt {color:#00f; font-weight:bold; text-decoration:none;} /* method */
a.xsr {color:#00f; font-weight:bold; text-decoration:none;} /* subroutine */

#results .con{font-size:small;color:#000;}
#more .l, #results .l { color:#888; }
#results .m {background-color:#ffb;}
#results i {color: #000; font-weight:bold;}
#results tr.dir{background-color:#fff;border-top:3px solid #000;}
#results td.q {visibility: hidden;}
#results td.f{width:3em;padding-left:2em;padding-right:.5em;}

#more { line-height:1.25em;}
#more b { background-color:transparent;}

#diffbar {border-bottom: 1px solid #000; padding-left:2em;font-size:medium; margin-top:1em;}
#difftable {border:#000; border-collapse:collapse;font-size:small;}
span.tab    { padding: 5px; padding-top:3px; padding-bottom: 0px; margin-left: 2px; margin-right: 2px; margin-bottom:0px ;background-color:#eee; border:1px solid #000;border-bottom:1px none;}
span.tabsel { padding: 6px; padding-top:5px; padding-bottom: 1px; margin-left: 2px; margin-right: 2px; background-color:#fff; border:1px solid #000; border-bottom:2px solid #fff;}
#difftable .d { background-color:#FFCC40;font-weight:bold;}
#difftable .a { background-color:#8BD98B;font-weight:bold;}
tr.k {border-bottom:1px dashed #000;}
#difftable i  {color:#666;background-color:#ddd;margin-right:.2em;padding-left:1em;padding-right:.5em;text-decoration:none;}
#difftable i.a  {background-color:#FFDD80;color:#666; font-weight:bold;}
strike.d{background-color:#bbddbb; margin-right:.2em;padding-left:1em;padding-right:.5em;}
#difftable td.d { background-color:#eeeeee;}
.grey{background-color:#eee;}

#badge img { display:none; }

#Footer {
	background: none;
	color: #000;
	font-size: 75%;
	margin-top: 1em;
}
#Footer p {
	margin: 0.6em 0 1em 0;
	text-align:center;
}
#Footer a {
	color: #000;
}

.more {background-color:transparent;border: 1px #ccc solid;padding:.3em;margin:1px;}
.sel {background-color:#ddd;border: 1px #000 solid;padding:.5em;margin:1px;}

span.blame { }
span.blame-hidden { display: none }
