name: Release

# TODO: run this only for the oracle/opengrok repository
on:
  release:
    types: [created]

jobs:
  get_tag:
    name: Get tag name
    outputs:
      tag: ${{ steps.get_tag.outputs.tag }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout master branch
        uses: actions/checkout@v6
      - name: Get the tag name
        id: get_tag
        env:
          OPENGROK_REF: ${{ github.ref }}
        run: ./dev/ref2tag.sh
  build:
    runs-on: ubuntu-latest
    needs: get_tag
    steps:
    - name: Checkout master branch
      uses: actions/checkout@v6
    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        distribution: 'oracle'
        java-version: '21'
    - name: Cache Maven packages
      uses: actions/cache@v4
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2
    - name: Checkout Universal ctags
      uses: actions/checkout@v6
      with:
        repository: universal-ctags/ctags
        path: ctags
    - name: Install pre-requisites
      run: ./dev/before_install
    - name: Before build actions
      run: ./dev/before
    - name: Build
      run: ./mvnw -DskipTests=true -Dmaven.javadoc.skip=false -B -V package
    - name: Get upload URL
      id: get_upload_url
      env:
        OPENGROK_TAG: ${{ needs.get_tag.outputs.tag }}
      run: dev/get_upload_url.sh
    - name: Upload release tarball
      id: upload-release-asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.get_upload_url.outputs.upload_url }}
        asset_path: ./distribution/target/opengrok-${{ needs.get_tag.outputs.tag }}.tar.gz
        asset_name: opengrok-${{ needs.get_tag.outputs.tag }}.tar.gz
        asset_content_type: application/octet-stream
